<div class="card card-stats" appHoverBorder [couleur]="stat.getAppreciation() | appreciationToColor">
    <div class="card-body ">
        <div class="row">
            <div class="col-5 col-md-4">
                <div class="icon-big text-center">
                    <i class="nc-icon text-{{stat.getAppreciation() | appreciationToColor }} nc-{{stat.getIcone()}}"></i>
                </div>
            </div>
            <div class="col-7 col-md-8">
                <div class="numbers">
                    <p class="card-category">{{ stat.getIntitule() }}</p>
                    <p class="card-title">{{ stat.getValeur() }}</p>
                </div>
                <div class="actionButtonsZone">
                    <i class="nc-icon text-danger nc-simple-remove" (click)="askForDelete()"></i>
                    <i class="nc-icon editIcon nc-ruler-pencil" (click)="askForUpdate()"></i>
                </div>                
            </div>
        </div>
    </div>
    <div class="card-footer ">
        <hr>
        <div class="stats">
            <i class="fa fa-refresh"></i> Update now
        </div>
    </div>
</div>