
<div class="card card-stats">
    <div class="card-body ">
        <form [formGroup]="statForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="nomStat">Nom : </label>
                    <input type="text" id="nomStat" class="form-control"
                    name="nom" formControlName="nom"
                    required>
                </div>
                <div class="col-md-6 form-group">
                    <label for="valeurStat">Valeur : </label>
                    <input type="text" id="valeurStat" class="form-control"
                    name="valeur" formControlName="valeur"
                    required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="iconeStat">Icone : </label>
                    <input type="text" id="iconeStat" class="form-control"
                    name="icone" formControlName="icone"
                    required>
                </div>
                <div class="col-md-6 form-group">
                    <label for="appreciationStat">Appréciation : </label>
                    <select class="custom-select form-control" id="appreciationStat" formControlName="appreciation" name="appreciation" required>
                        <option *ngFor="let item of enumAppreciation | keyvalue" [value]="item.value">{{item.value}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <button class="btn btn-success" type="submit" [disabled]="!statForm.valid">
                        <span *ngIf="!editMode">Ajouter</span>
                        <span *ngIf="editMode">Mettre à jour</span>
                    </button>
                    <button *ngIf="editMode" class="btn btn-success" (click)="onCancel()">
                        <span>Annuler</span>
                    </button>                    
                </div>
            </div>

        </form>
    </div>
</div>